/*-----告警处理弹窗---*/

.alarm-popover {
    height: 24rem;
    padding: 0 !important;
}

.alarm-list-wrap {
    height: 100%;
    overflow: auto;
}

.alarm-list {
    padding: 1.6rem;
    list-style: none;
}

.alarm-list .alarm-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0 0 .4rem 0 rgba(33, 33, 33, 0.14);
    border-radius: 4rem;
    padding: 0 1.4rem;
    margin-bottom: 1.3rem;
}

.alarm-list .alarm-item:last-child {
    margin-bottom: 0;
}

/*--alert-popover--*/
.alert-popover{
    padding: 0 !important;
    margin-left: 0.2rem !important;
}

.alert-popover .popper__arrow{
    display: none;
}

.alert-card-level-1{
    border: 2px solid #dd1d1d;
}

.alert-card-level-1 .card-num{
    background-color:#dd1d1d !important;
}


.alert-card-level-2{
    border: 2px solid #fd7f0e;
}

.alert-card-level-2 .card-num{
    background-color:#fd7f0e !important;
}
