/*--alert-popover--*/
.alert-popover{
    width:17rem !important;
    padding: 0 !important;
    margin-left: 0.2rem !important;
}

.alert-popover .popper__arrow{
    display: none;
}

/*---一级告警---*/

.alert-card-level-1{
    border: 2px solid #dd1d1d;
}

.alert-card-level-1 .card-num{
    background-color:#dd1d1d !important;
}

.alert-card-level-1 .alert-card-item{
    color: #dd1d1d !important;
}


/*---二级告警---*/

.alert-card-level-2{
    border: 2px solid #fd7f0e;
}

.alert-card-level-2 .card-num{
    background-color:#fd7f0e !important;
}

.alert-card-level-2 .alert-card-item{
    color: #fd7f0e !important;
}

/*---离线告警---*/

.alert-card-level-offline{
    border: 2px solid #fd7f0e;
}

.alert-card-level-offline .card-num{
    background-color:#fd7f0e !important;
}

.alert-card-level-offline .alert-card-item{
    color: #fd7f0e !important;
}


/*---未入住---*/
.not-check-in{
    width: 2rem;
    height: 2rem;
    background-image: url("~@/static/img/notCheckIn.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;
    background-color: #fff;
    transition: none;
}

.not-check-in .el-button--primary{
    cursor:not-allowed !important;
}